/* Обнуляющий стиль */
@import "null.css";
/* ==================================== */
/* Подключение шрифтов */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;0,900;1,400&display=swap');
/* ================================== */
/* Оболочка */
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ==================================== */
/* Ограничивающий контейнер */
[class*="__container"] {
	max-width: 1235px;
	margin: 0 auto;
}
/* ==================================== */